@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}


html {
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;  
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 20px;
}

.filter {
    filter: invert(94%) sepia(8%) saturate(88%) hue-rotate(183deg) brightness(101%) contrast(86%);
}

.left {
    font-size: 24px;
    font-weight: 900;
}

.right {
    font-size: 18px;
    color: #E5E7EB;
}

.right a {
    margin: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}


.intro {
    background-color: #1F2937;
    padding: 90px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.intro-text h1 {
    font-weight: 700;
    font-size: 48px;
}
.intro-text {
    flex-wrap: wrap;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.intro p, .sign-up-button {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0px;
}

.sign-up-button {
    background-color: #3882f6;
    height: 40px;
    width: 120px;
    border-radius: 7px;
    border: 0px;
}

.main-image, .sunflower {
    border-radius: 20px;
    width: auto;
    height: 400px;
    flex: 1 0 400px;
}

.examples {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 425px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.example-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 30px;
}

.example-photos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.photos {
    flex: 0 1 225px;
    text-align: center;
}

.img-examples {
    border: 0px;
    border-style: solid;
    border-radius: 15px;
    border-color: #1F2937;
    width: auto;
    height: 225px;
}


.photos p {
    color: #1F2937;
    font-size: 16px;
    font-style: italic;
}


.quote {
    background-color: #E5E7EB;
    padding: 150px 200px;
}

.quote p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
    text-align: center;
}

.quote-box {
    display: flex;
    flex-direction: column;
    width: 0;
    min-width: 100%;
}

.author {
    text-align: right;
    font-size: 24px;
    font-weight: 900;
}