@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}


html {
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;  
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 20px;
}

.filter {
    filter: invert(94%) sepia(8%) saturate(88%) hue-rotate(183deg) brightness(101%) contrast(86%);
}

.left {
    font-size: 24px;
    font-weight: 900;
}

.right {
    font-size: 18px;
    color: #E5E7EB;
}

.right a {
    margin: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}


.intro {
    background-color: #1F2937;
    padding: 90px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.intro-text h1 {
    font-weight: 700;
    font-size: 42px;
}
.intro-text {
    flex-wrap: wrap;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.intro p, .sign-up-button {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0px;
}

.sign-up-button {
    background-color: #3882f6;
    height: 40px;
    width: 120px;
    border-radius: 7px;
    border: 0px;
}

.main-image, .sunflower {
    border-radius: 20px;
    width: auto;
    height: 400px;
    flex: 1 0 400px;
}

.examples {
    background-color: white;
}